html {
  font-size: 10px;
  width: 100%;
  height: 100%; }

body {
  font-family: 'Lora', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1.8rem;
  position: relative;
  color: white;
  background-color: #0063BF;
  width: 100%;
  height: 100%; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  margin: 0 0 35px;
  letter-spacing: 1px;
  text-transform: uppercase; }

p {
  font-size: 1.6rem;
  line-height: 1.5;
  margin: 0 0 25px; }
  @media (min-width: 768px) {
    p {
      font-size: 1.8rm;
      line-height: 1.6;
      margin: 0 0 35px; } }

.roundedCorners {
  border-radius: 2rem; }

/*** GENERAL: MOBILE & DESKTOP SCREEN ***/
@media only screen and (max-width: 991px) {
  .hidden_mobile {
    display: none !important; } }
@media only screen and (min-width: 991px) {
  #hidden_desktop {
    display: none; } }
#mainNav {
  font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin-bottom: 0;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
  -moz-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
  transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
  letter-spacing: 1px;
  border-bottom: none;
  background: #0063BF;
  opacity: .7; }
  #mainNav .navbar-toggler {
    font-size: 1.4rem;
    padding: 11px;
    color: white;
    border: 1px solid white; }
  #mainNav .navbar-brand {
    font-weight: 700;
    font-size: 2rem; }
  #mainNav a {
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px  1px 0 #000, 1px  1px 0 #000; }
  #mainNav .navbar-nav .nav-item {
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out; }
    #mainNav .navbar-nav .nav-item:hover {
      color: fade(white, 80%);
      outline: none;
      background-color: transparent; }
    #mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
      outline: none;
      background-color: transparent; }
  #mainNav.navbar-shrink {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    opacity: 1; }
  #mainNav .nav-link.active {
    outline: none;
    background-color: rgba(255, 255, 255, 0.3); }
    #mainNav .nav-link.active:hover {
      color: white; }
  @media only screen and (max-width: 991px) {
    #mainNav.navbar-shrink {
      padding-top: 10px;
      padding-bottom: 10px;
      background: #0063BF;
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
      opacity: 1; } }

.landingpage {
  height: 50rem;
  padding-top: 10rem;
  background: url("../img/orchesterJanuar_991px.jpg") no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%; }
  @media (max-width: 768px) {
    .landingpage {
      height: 0;
      margin-top: 60px;
      padding-top: 56.5%; } }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .landingpage {
      background: url("../img/orchesterJanuar_1200px.jpg") no-repeat center center scroll;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      height: 100%; } }
  @media (min-width: 1200px) {
    .landingpage {
      background: url("../img/orchesterJanuar_2000px.jpg") no-repeat center center scroll;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      height: 100%; } }

@media only screen and (max-width: 991px) {
  .container_media img, .container_media_side img {
    padding: 5px;
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 100%; } }
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .container_media img, .container_media_side img {
    padding: 25px;
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 100%; } }
@media (min-width: 1200px) {
  .container_media img, .container_media_side img {
    padding: 10px 50px;
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 100%; } }

.container_media_side {
  width: 40%;
  padding: 20px; }
  @media (max-width: 991px) {
    .container_media_side {
      width: 80%;
      padding: 10px;
      text-align: center; } }

.container_side {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  padding: 15px;
  width: 70%; }
  @media (max-width: 991px) {
    .container_side {
      display: inline-flex;
      flex-direction: column;
      justify-content: center;
      align-items: baseline;
      padding: 0;
      margin: 0;
      width: 100%; } }

.red {
  color: red; }

.content-section {
  padding-top: 30px;
  padding-bottom: 10px; }
  .content-section h3 {
    font-size: 2.3rem;
    padding-top: 30px;
    margin-bottom: 20px; }
  .content-section p {
    font-family: sans-serif; }
  .content-section a {
    color: white;
    text-decoration: underline;
    text-decoration-style: solid; }
  .content-section img {
    margin-bottom: 10px; }

.center {
  text-align: center; }

.blocksatz {
  text-align: justify;
  padding: 10px 35px;
  margin: 0; }

.header_left {
  padding-top: 40px;
  padding-left: 50px;
  margin: 0;
  text-align: left; }
  @media (max-width: 991px) {
    .header_left {
      padding: 10px;
      margin: 0;
      text-align: center; } }

.header_right {
  padding-top: 40px;
  padding-right: 50px;
  margin: 0;
  text-align: right; }
  @media (max-width: 991px) {
    .header_right {
      padding: 10px;
      margin: 0;
      text-align: center; } }

.background-medium {
  background-color: #397FBF; }

.partitur-background {
  background: url("../img/PartiturAlleStimmenHeller.jpg") no-repeat center center scroll;
  background-color: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.info-section-background {
  background-color: #397FBF;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; }
  @media (max-width: 991px) {
    .info-section-background {
      background-color: #397FBF;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; } }

.info-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 0; }
  @media (max-width: 991px) {
    .info-section {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; } }

.termine-section {
  display: flex;
  color: white; }
  .termine-section p, .termine-section h2, .termine-section h3, .termine-section h5, .termine-section h6 {
    color: #003A70; }
  .termine-section p, .termine-section h3, .termine-section h6 {
    text-align: left; }
  .termine-section h6 {
    padding: 10px;
    margin: 0px;
    font-size: 1.5rem; }
  .termine-section h3, .termine-section h5 {
    font-size: 2rem; }
  .termine-section h2 {
    padding-top: 25px; }
  .termine-section ul {
    padding: 0px 30px;
    color: #003A70;
    text-align: left;
    font-family: sans-serif;
    list-style-type: circle; }
  .termine-section .termine {
    background-color: white;
    color: black;
    border: 2px solid #003A70;
    padding: 5px; }
  .termine-section .galery {
    background-color: white;
    color: black;
    opacity: 1;
    border: 2px solid #003A70;
    padding: 5px;
    /*
    *  position: relative gives a new position context
    */
    /*
    *  The .carousel properties are for styling only
    *  These properties can be changed or removed
    */
    /*
    *  Position the #transparent element in the top-right
    *  of the .wrapper element
    */
    /*** JUMBOTRON ***/ }
    .termine-section .galery h2 {
      padding: 10px;
      margin-bottom: 0; }
    .termine-section .galery .wrapper {
      position: relative; }
    @media only screen and (max-width: 768px) {
      .termine-section .galery .gallery-nav .button {
        transform: scale(0.5); } }
    @media only screen and (max-width: 768px) {
      .termine-section .galery .carousel {
        height: 200px; } }
    @media only screen and (max-width: 991px) {
      .termine-section .galery .carousel {
        height: 300px; } }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      .termine-section .galery .carousel {
        height: 400px; } }
    @media (min-width: 1200px) {
      .termine-section .galery .carousel {
        height: 500px; } }
    .termine-section .galery #transparent {
      position: absolute;
      top: 0;
      left: 0;
      /*
      *  Styling only, the below can be changed or removed
      *  depending on your use case
      */
      display: flex;
      align-items: center;
      justify-content: space-between; }
      .termine-section .galery #transparent a {
        color: white;
        opacity: .7;
        font-size: 100px; }
      .termine-section .galery #transparent a:hover {
        color: white;
        cursor: pointer; }
      @media only screen and (min-width: 551px) and (max-width: 768px) {
        .termine-section .galery #transparent {
          height: 300px;
          width: 490px; } }
      @media only screen and (min-width: 769px) and (max-width: 991px) {
        .termine-section .galery #transparent {
          height: 300px;
          width: 560px; } }
      @media only screen and (min-width: 992px) and (max-width: 1199px) {
        .termine-section .galery #transparent {
          height: 400px;
          width: 760px; } }
      @media (min-width: 1200px) {
        .termine-section .galery #transparent {
          height: 500px;
          width: 910px; } }
    .termine-section .galery .jumbotron {
      padding-top: 10px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat; }
      @media only screen and (max-width: 768px) {
        .termine-section .galery .jumbotron {
          height: 200px; } }
      @media only screen and (max-width: 991px) {
        .termine-section .galery .jumbotron {
          height: 300px; } }
      @media only screen and (min-width: 992px) and (max-width: 1199px) {
        .termine-section .galery .jumbotron {
          height: 400px; } }
      @media (min-width: 1200px) {
        .termine-section .galery .jumbotron {
          height: 500px; } }

.jumbotron-orchester1 {
  background-image: url("../img/orchesterJuni.jpg"); }

.jumbotron-orchester2 {
  background-image: url("../img/orchesterJanuar.jpg"); }

.jumbotron-orchester3 {
  background-image: url("../img/orchesterJanuar2.png"); }

@media (min-width: 992px) {
  .content-section {
    padding-top: 30px;
    padding-bottom: 20px; } }
.btn {
  font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  border-radius: 0; }

.btn-default {
  color: #42DCA3;
  border: 1px solid #42DCA3;
  background-color: transparent; }
  .btn-default:focus, .btn-default:hover {
    color: black;
    border: 1px solid #42DCA3;
    outline: none;
    background-color: #42DCA3; }

ul.banner-social-buttons {
  margin-top: 0; }
  @media (max-width: 1199px) {
    ul.banner-social-buttons {
      margin-top: 15px; } }
  @media (max-width: 767px) {
    ul.banner-social-buttons li {
      display: block;
      margin-bottom: 20px;
      padding: 0; }
      ul.banner-social-buttons li:last-child {
        margin-bottom: 0; } }

footer {
  background-color: #003A70;
  padding: 50px 0; }
  footer p {
    font-size: 14px;
    margin: 0; }

::-moz-selection {
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2);
  text-shadow: none; }

::selection {
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2);
  text-shadow: none; }

img::selection {
  background: transparent; }

img::-moz-selection {
  background: transparent; }

body {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0.2); }

/*# sourceMappingURL=grayscale.css.map */
